/* Responsividade*/

@media screen and (max-width: 500px){  
    .mensagem{
        margin-top: 220px;
    
    }
    
    .mensagem p{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);
        font-size: 18pt;
        font-weight: bold;
        
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
    
    .mensagem p span{
        font-size: 18pt;
        color: aquamarine;
    }
    
    .acoes{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
       
}
