/*Estilo da página de login*/

body{
    background-image: url(../img/bg-principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
}

main{
    background-color: rgba(0, 0, 0, 0.350);
    
    width: 100%;
    height: 100vh;
}

#container{
    margin: 0 auto;
    padding: 20px;

    width: 95%;
    display: flex;
    flex-direction: column;
}

.logo{
    background-image: url(../img/logo.fw.png);
    background-repeat: no-repeat;
    background-size: cover;    
        
    width: 8rem;
    height: 8rem;

    margin-top: 20px;
}

.mensagem{
    margin-top: 80px;
}

.mensagem p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);
    font-size: 60pt;
    font-weight: bold;
    
    line-height: 5rem;
    letter-spacing: 0.1rem;
}

.mensagem p span{
    font-size: 60pt;
    color: aquamarine;
}

.acoes{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgba(127, 255, 212, 0.808);

    width: 300px;
    height: 60px;

    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);

    display: flex;
    align-items: center;
    justify-content: center;  
}

.btn:hover{
    background-color: #7EFCD2;
    transition: 0.5s;
} 

.btn a{
    text-decoration: none;
    font-size: 18pt;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);
}

.link-cadastre{
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);
}