*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
    background-image: url(img/bg-principal.jpg);
    background-repeat: no-repeat;
}
.form{
    background-color: rgb(52, 52, 134);
    text-align: center;
    color: white;
    padding-top: 250PX;
    width: 700px;
    height: 420px;
    padding: 20px;
    margin: 100px;
}
#button{
    background-color: black;
}
#button:hover{
    background-color: rgb(140, 143, 138);
    cursor: pointer;
}
a{
    color: white;
    cursor: pointer;
}
.title{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
img{
    background-repeat: no-repeat;
    width: 350px;

}

@media (max-width: 767px){
    .form{
        background-color: rgb(52, 52, 134);
        height: 100%;
        width: 700px;
    }
}


